<div
  class="w-full h-96 bg-white border border-[#6147DC] border-opacity-50 rounded-2xl"
>
  <div
    class="py-6 px-10 w-full h-20 bg-gradient-to-r from-[#6147DC] to-[#4FAAFF] rounded-t-2xl"
  >
    <h1 class="text-2xl font-semibold text-white">Overview</h1>
  </div>

  <div class="flex justify-center gap-14 -mt-5">
    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Voltage R</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #voltageRChart class="h-52 w-44"></div>
    </div>

    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Voltage Y</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #voltageYChart class="h-52 w-44"></div>
    </div>

    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Voltage B</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #voltageBChart class="h-52 w-44"></div>
    </div>

    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Reading (KWH)</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #readingKWHChart class="h-52 w-44"></div>
    </div>
  </div>

  <div class="flex justify-center gap-14 -mt-20">
    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Current R</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #currentRChart class="h-52 w-44"></div>
    </div>

    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Current Y</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #currentYChart class="h-52 w-44"></div>
    </div>

    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Current B</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #currentBChart class="h-52 w-44"></div>
    </div>

    <div class="flex items-center gap-10">
      <div>
        <p class="mb-3 text-muted">Reading (KVA)</p>
        <h2 class="text-2xl text-[#4A4D54] font-semibold">6156.44</h2>
      </div>
      <div #readingKVAChart class="h-52 w-44"></div>
    </div>
  </div>
</div>
