<div
  class="w-full h-[70vh] overflow-hidden bg-white border border-[#6147DC] border-opacity-50 rounded-2xl"
>
  <div
    class="py-6 px-10 w-full h-20 bg-gradient-to-r from-[#6147DC] to-[#4FAAFF] rounded-t-2xl"
  >
    <h1 class="text-2xl font-semibold text-white text-center">
      Contact Details
    </h1>
  </div>

  <div class="w-full h-[60vh] flex">
    <img
      src="../../../../assets/images/contact-image.jpg"
      class="h-full w-1/2 object-cover object-center"
      alt=""
    />
    <div class="h-full w-1/2 p-10">
      <table class="w-full h-full">
        <tr>
          <th>Designation.</th>
          <th>Email</th>
          <th>Phone No.</th>
        </tr>

        <tr>
          <td>SSO</td>
          <td>sso&#64;gmail.com</td>
          <td>898239829</td>
        </tr>

        <tr>
          <td>JE</td>
          <td>je&#64;gmail.com</td>
          <td>898239829</td>
        </tr>

        <tr>
          <td>SDO</td>
          <td>sdo&#64;gmail.com</td>
          <td>898239829</td>
        </tr>

        <tr>
          <td>EE</td>
          <td>ee&#64;gmail.com</td>
          <td>898239829</td>
        </tr>

        <tr>
          <td>EE Test</td>
          <td>eetest&#64;gmail.com</td>
          <td>898239829</td>
        </tr>
      </table>
    </div>
  </div>
</div>
