<div class="bg-[#F0F8FF] min-h-full w-full p-4">
  <div class="flex h-[55vh] w-full justify-between">
    <app-piechart
      name="Hierarchy"
      totalFeeder="983"
      activeFeeder="211"
      disconnectFeeder="102"
      downFeeder="40"
    ></app-piechart>

    <app-piechart
      name="Discoms"
      totalFeeder="983"
      activeFeeder="211"
      disconnectFeeder="102"
      downFeeder="40"
    ></app-piechart>

    <app-piechart
      name="Scheme"
      totalFeeder="983"
      activeFeeder="211"
      disconnectFeeder="102"
      downFeeder="40"
    ></app-piechart>

    <app-piechart
      name="District"
      totalFeeder="983"
      activeFeeder="211"
      disconnectFeeder="102"
      downFeeder="40"
    ></app-piechart>
  </div>
  <app-feedertable></app-feedertable>
</div>
