<div
  class="w-full h-72 bg-white border border-[#6147DC] border-opacity-50 rounded-2xl"
>
  <div
    class="py-5 px-10 w-full h-20 bg-gradient-to-r from-[#6147DC] to-[#4FAAFF] rounded-t-2xl"
  >
    <h1 class="text-2xl font-semibold text-white">Feeder Location</h1>
  </div>

  <div class="w-full h-48 flex">
    <div class="w-full flex gap-40 m-auto justify-center">
      <div class="flex gap-20">
        <div class="flex flex-col gap-7">
          <h3 class="text-muted font-semibold text-xl">Discom</h3>
          <h3 class="text-muted font-semibold text-xl">Sharanpur</h3>
          <h3 class="text-muted font-semibold text-xl">District</h3>
        </div>

        <div class="flex flex-col gap-7">
          <h3 class="text-dark font-semibold text-xl">PVVNL</h3>
          <h3 class="text-dark font-semibold text-xl">Zone</h3>
          <h3 class="text-dark font-semibold text-xl">Muzzafanagr</h3>
        </div>
      </div>

      <div class="flex gap-20">
        <div class="flex flex-col gap-7">
          <h3 class="text-muted font-semibold text-xl">Circle</h3>
          <h3 class="text-muted font-semibold text-xl">Town</h3>
          <h3 class="text-muted font-semibold text-xl">Division</h3>
        </div>

        <div class="flex flex-col gap-7">
          <h3 class="text-dark font-semibold text-xl">ED2C Muzzafanagr</h3>
          <h3 class="text-dark font-semibold text-xl">Khatauli</h3>
          <h3 class="text-dark font-semibold text-xl">EDD Khatauli</h3>
        </div>
      </div>

      <div class="flex gap-20">
        <div class="flex flex-col gap-7">
          <h3 class="text-muted font-semibold text-xl">Sub Division</h3>
          <h3 class="text-muted font-semibold text-xl">Sub Station</h3>
        </div>

        <div class="flex flex-col gap-7">
          <h3 class="text-dark font-semibold text-xl">EDSD Khatauli</h3>
          <h3 class="text-dark font-semibold text-xl">
            33/11 KV <br />
            S/S Rasoolpur (Antiwada)
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
