<div class="w-full h-[70vh] flex justify-between">
  <div
    class="w-[57vw] h-[70vh] bg-white border border-[#6147DC] border-opacity-50 rounded-2xl"
  >
    <div
      class="flex justify-between py-6 px-10 w-full h-20 bg-gradient-to-r from-[#6147DC] to-[#4FAAFF] rounded-t-2xl"
    >
      <h1 class="text-2xl font-semibold text-white">Energy Supplied</h1>
    </div>

    <div #myEnergyChart class="h-[60vh] w-full"></div>
  </div>

  <div
    class="w-[37vw] h-[70vh] border bg-[#6147DC] overflow-hidden border-opacity-50 rounded-2xl"
  >
    <h1 class="text-white font-semibold text-3xl my-4 mx-8">Load</h1>
    <h2 class="text-white font-semibold text-3xl mx-8">1590 KVA</h2>
    <div #loadChart class="h-[60vh] w-full"></div>
  </div>
</div>
